/*
        web page init
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family : "Arial Rounded MT Bold" ;
}



@viewport { width: device-width; }

@-ms-viewport { width: device-width; } /* For snapped mode in IE10+ Modern UI. */



/*
        quiz styling
*/


.quiz-header{
    text-align : center;
    font-size : 28px;
    height : 40px;
    padding-top : 10px;
}


.quiz-container{
    float : left;
    width : 100%;
    height: 100%;
    position : relative;
    min-height : 400px;
}

.quiz-container .round-title{
    width : 100%;
    display : inline-block;
    float :left;
    clear : both;
    padding-left : 65px;
    font-size : 22px;

}

.quiz-container .quiz-options{
    width : 50%;
    float:left;
    position : relative;
    clear: both;
    margin-top : 20px;
    padding-left : 15px;
}

.quiz-container .quiz-answer{
    width : 50%;
    float : left;
    padding-top : 30px;
    padding-left : 15px;
}

.quiz-answer .quiz-question{
    padding-top : 20px;
}

.quiz-answer .user-input{
    padding-top : 20px;
}

.quiz-answer .hint-container{
    float:left;
    position : relative;
    padding-top : 20px;
}

.hint-container .hint-text{
    float:left;
}

.hint-container img{
    float:left;
    padding-left : 15px;
}

.album-option{
    display : flex;
    align-items : center;
    height : 65px;
    margin : auto;
    position : relative;
}


.album-option .album-option-number{
    float : left;
    width : 40px;
    background-color : yellow;
    text-align : center;
    border-radius : 50%;
    height : 28px;
    align-items : center;
    display : inherit;
    justify-content : center;
    margin-right : 10px;
}

.album-option .album-option-name{
    display : inherit;
    align-items : center;
    float : left;
    padding-left : 10px;
    padding-right : 10px;
    width : 80%;
    height : 100%;
    border : 2px solid black;
}

.quiz-summary{
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 25px;

}