<div class="quiz-container">

    <div class="round-title">Round #{{ctrl.quizRound}}</div>

    <div class="quiz-options">

        <div ng-repeat="albums in ctrl.questionDetails.options" style="margin-top:10px;"
             ng-show="ctrl.questionDetails.answerAttempts >= $index">

            <div class="album-option">
                <div class="album-option-number" ng-bind="$index+1"></div>
                <div class="album-option-name" ng-bind="albums.name"></div>
            </div>

        </div>
    </div>

    <div class="quiz-answer">

        <div class="quiz-points-desc">For {{ctrl.currentQuestionPoint()}} points</div>

        <div class="quiz-question" ng-bind="ctrl.questionDetails.question"></div>

        <div class="user-input">
            <input type="text" ng-model="ctrl.userAnswer"  width="200">
            <button ng-click="ctrl.checkAnswer()" ng-disabled="ctrl.showFinalScore">Check Answer</button>
        </div>


        <div class="hint-container" ng-show="ctrl.questionDetails.answerAttempts === 2">
            <div class="hint-text">Hint:</div>
            <img ng-src="{{ctrl.questionDetails.options[2].hint}}"/>
        </div>
    </div>

    <div class="quiz-summary" ng-show="ctrl.showFinalScore" ng-bind="ctrl.totalScore">

    </div>
</div>

